@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* general */

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(90deg, #F8962C 0%, #EF3C26 100%);
  border-radius: 5px;
  font-size: 1rem;
  color: #FFFFFF;
  padding: 0.52rem 1.45rem;
  transition: all 0.3s ease-in-out;
}


button.btn-outline {
  color: #FF6F00;
  background: #fff;
  border: 1px solid  #FF6F00; 
  border-radius: 10px
}

.btn:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:active {
  -webkit-transform: scale(1);
  transform: scale(1);
  box-shadow: none;
}

.btn-outline:hover {
  background: linear-gradient(90deg, #F8962C 0%, #EF3C26 100%);
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

/* navbar design */
header {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  z-index: 99999;
}

nav {
  max-width:  1180px;
  margin: 0 auto;
}

.brand {
  gap: 0.2rem;
  margin: 0.3rem 0;
}
.brand h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  line-height: 1.2;
  letter-spacing: -0.4px;
  font-size: 1.12rem;
}
.brand .img-cont {
  width: 50px;
  height: 55px; 
}
.brand .img-cont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center center;
  
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-lists {
  list-style-type: none;
  gap: 1.5rem
}
.nav-lists li a{
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}
.nav-lists li a:hover{
  color: #FF6F00
}


.login-btns {
  gap: 0.85rem;
}
main {
  margin-top: 93px;
}
/* hero section */
.hero-content {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2.8rem;
}
.hero-content .left-side {
  flex-basis: 50%;
  gap: 1.3rem;
}

.hero-content .left-side h2 {
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 3.1rem;
  color: #FFFFFF;
  background: #454545;
  display: inline-block;
  padding: 0 1rem;
}
.hero-content .left-side h1 {
  font-weight: bold;
  font-size: 3.46rem;
  line-height: 4.1rem;
  color: #FFFFFF;
  background: #FF6F00;
  display: inline-block;
  padding: 0 1rem;
}
.hero-content .left-side h3 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #FF6F00;
  margin: 0;
}
.hero-content .left-side p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 360px;

  color: #454545;

}

.hero-content  .right-side {
  flex-basis: 50%;
}
.hero-content .right-side .img-cont{
  /* width: 90%; */
}
.hero-content .right-side .img-cont img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center center;
  
}
.hero-content .order-btns {
  justify-content: flex-start;
  gap: 1rem;;
}
.hero-content .order-btns .btn {
  padding: 0.6rem 1.9rem;
}
.hero-content .order-btns .with-small-text {
  height: 40.19px;
  width: 140.7px;
  font-size: 0.9rem;
  padding: 0.6rem 1.9rem;

}
.hero-content .order-btns .with-small-text span {

}
.hero-content .order-btns .with-small-text {
  position: relative;  
}
.hero-content .order-btns .with-small-text div {
  position: absolute;
  top: 11px;
  left: 30px;
  line-height: 0.7;

}
.hero-content .order-btns .with-small-text small {
  font-size: 8px;
}


/* feature section */
#feature {
  width: 100%;
  background: #F8F8F8;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#feature .content {
  gap: 3.5rem;
  flex-wrap: wrap;
}
#feature .content .item {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

#feature .content .item .img-cont{
  width: 55px;
  height: 55px;
}
#feature .content .item .img-cont img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center center;
}
#feature .content .item  h3, #feature .content .item  p {
  text-transform: uppercase;
  color: #818181;
  letter-spacing: 1.2px;
  font-size: 1rem;
}
#feature .content .item  p {
  font-size: 0.7rem;
}

/* how to order section */
.order-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.order-content .left-side {
  flex-basis: 50%;
  gap: 1.3rem;
}

.order-content .left-side h2 {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 3.1rem;
  color: #FF6F00;
  display: inline-block;
  letter-spacing: -0.4px;
}
.order-content .left-side h3 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #000;
  margin: 0;
  font-weight: 500;
}
.order-content .left-side p {
  font-size: 12px;
  line-height: 16px;

  color: #454545;

}

.order-content .left-side .order-steps {
}
.order-content .left-side .order-steps .steps{
  /* max-width: 300px; */
  margin: 0 auto;
}
.order-content .left-side .order-steps .step{
  display: flex;
  align-items: baseline;
  position: relative;
}
.order-content .left-side .order-steps .step:after{
  content: "";
  position: absolute;
  left: 15px;
  top: 32px;
  height: 0;
  width: 3px;
  background-color:  #FF6F00;
}

.order-content .left-side .order-steps .info {
  margin: 8px 0 20px;
}

.order-content .left-side .order-steps .title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 8px;
  color:  #FF6F00;
  letter-spacing: -0.4px;
}

.order-content .left-side .order-steps .text {
  font-size: 12px;
  color: rgba(white, 0.7);
  padding-bottom: 0;
  margin: 0;
  max-width: 320px;
  font-weight: 500;
}

.order-content .left-side .order-steps .step:not(:last-child):after {
    height: 75%;
}
 
.order-content .left-side .order-steps .number{
  width: 34px;
  height: 34px;
  background-color: transparent;
  border-radius: 50%;
  /* border: 2px solid blue; */
  background-color:  #FF6F00;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;
 }


.order-content  .right-side {
  flex-basis: 50%;
}
.order-content .right-side .img-cont{
  height: 580px;
}
.order-content .right-side .img-cont img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center center;
  
}
.order-content .order-btns {
  justify-content: flex-start;
  gap: 1rem;;
}
.order-content .order-btns .btn {
  padding: 0.6rem 1.9rem;
}
.order-content .order-btns .with-small-text {
  height: 40.19px;
  width: 140.7px;
  font-size: 0.9rem;
  padding: 0.6rem 1.9rem;

}
.order-content .order-btns .with-small-text span {

}
.order-content .order-btns .with-small-text {
  position: relative;  
}
.order-content .order-btns .with-small-text div {
  position: absolute;
  top: 11px;
  left: 30px;
  line-height: 0.7;

}
.order-content .order-btns .with-small-text small {
  font-size: 8px;
}